.bloque1{
  top: 13%;
  left: 21%;
  font-size: 16px;
  position: absolute;
}

.grada1 {
  color: rgb(255, 251, 15);
  position: absolute;
  width: 28em;
  height: 2em;
  border: 0.3em solid black;
  border-radius: 0%;
  left: -3.2em;
  bottom: -2.5em;
  background:linear-gradient(#ffec64, #ffab23);
}

.grada2 {
    color: rgb(255, 251, 15);
    position: absolute;
    width: 22em;
    height: 5em;
    border: 0.3em solid black;
    border-radius: 0%;
    left: 1050px;
    top: 700px;
    background:linear-gradient(#ffec64, #ffab23);
  }

  .Medio{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 5em;
    height: 20em;
    border: 0.3em solid black;
    border-radius: 0%;
    top: -330px;
    left:3em;
    background:linear-gradient(#ffec64, #ffab23);
  }
  .Medio1{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 5em;
    height: 20em;
    border: 0.3em solid black;
    top: -330px;
    left:8em;
    background:linear-gradient(#ffec64, #ffab23);
  }
  .Medio2{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 5em;
    height: 20em;
    border: 0.3em solid black;
    top: -330px;
    left:13em;
    background:linear-gradient(#ffec64, #ffab23);
  }

  .ventana1{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 2em;
    height: 6em;
    border: 0.3em solid black;
    top: 1.5em;
    left:1em;
    background:linear-gradient(blue, black);
  }
  .ventana1b{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 2em;
    height: 6em;
    border: 0.3em solid black;
    top: 12em;
    left:1em;
    background:linear-gradient(blue, black);
  }
  .ventana2{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 2em;
    height: 6em;
    border: 0.3em solid black;
    top: 1.5em;
    left:1em;
    background:linear-gradient(blue, black);
  }
  .ventana2b{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 2em;
    height: 6em;
    border: 0.3em solid black;
    top: 12em;
    left:1em;
    background:linear-gradient(blue, black);
  }
  .ventana3{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 2em;
    height: 6em;
    border: 0.3em solid black;
    top: 1.5em;
    left:1em;
    background:linear-gradient(blue, black);
  }
  .ventana3b{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 2em;
    height: 6em;
    border: 0.3em solid black;
    top: 12em;
    left:1em;
    background:linear-gradient(blue, black);
  }
  /**/

  .corona1{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 4.5em;
    height: 2.5em;
    border: 0.3em solid black;
    transform: skewX(15deg);
    left: -10px;
    top: -50px;
    background:linear-gradient(#ffec64, #ffab23);
  }
  .corona2{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 5em;
    height: 2.5em;
    border: 0.3em solid black;
    transform: skewX(-15deg);
    top: -50px;
    background:linear-gradient(#ffec64, #ffab23);
  }
  .coronam1{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 5em;
    height: 2.5em;
    border: 0.3em solid black;
    border-left: 0;
    transform: skewX(-15deg);
    top: -50px;
    background:linear-gradient(#ffec64, #ffab23);
  }
  .coronam2{
    color: rgb(255, 251, 15);
    position: absolute;
    width: 4.5em;
    height: 2.5em;
    border: 0.3em solid black;
    border-right: 0;
    transform: skewX(15deg);
    left: -13px;
    top: -50px;
    background:linear-gradient(#ffec64, #ffab23);
  }
.grada1c1{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 12em;
  height: 4.9em;
  border: 0.3em solid black;
  border-radius: 0%;
  left: 1400px;
  top: 700px;
  background:linear-gradient(#ffec64, #ffab23);
}
.grada2c1{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 8.6em;
  height: 2em;
  border: 0.3em solid black;
  border-radius: 0%;
  left: 3.1em;
  bottom: -2.6em;
  background:linear-gradient(#ffec64, #ffab23);
}
.medio1c{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 15.2em;
  height: 8em;
  border: 0.3em solid black;
  border-radius: 0%;
  top: -138px;
  left:-3.5em;
  background:linear-gradient(#ffec64, #ffab23);
}
.ventana1c{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 2em;
  height: 4em;
  border: 0.3em solid black;
  top: 1.5em;
  left:3.5em;
  background:linear-gradient(blue, black);
}
.ventana2c{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 2em;
  height: 4em;
  border: 0.3em solid black;
  top: 1.5em;
  left:8em;
  background:linear-gradient(blue, black);
}
.gradasuperior{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 15.1em;
  height: 2em;
  border: 0.3em solid black;
  border-radius: 0%;
  left: -3.4em;
  bottom: 13em;
  background:linear-gradient(#ffec64, #ffab23);
}
.superior1c1 {
  color: rgb(255, 251, 15);
  position: absolute;
  width: 2.5em;
  height: 2em;
  border: 0.3em solid black;
  border-radius: 0%;
  left:-0.3em;
  bottom: 2.2em;
  background:linear-gradient( #ffab23,#ffec64);
}
.superior2c1 {
  color: rgb(255, 251, 15);
  position: absolute;
  width: 2.5em;
  height: 2em;
  border: 0.3em solid black;
  border-radius: 0%;
  left:6em;
  bottom: 2.2em;
  background:linear-gradient( #ffab23,#ffec64);
}
.superior3c1 {
  color: rgb(255, 251, 15);
  position: absolute;
  width: 2.5em;
  height: 2em;
  border: 0.3em solid black;
  border-radius: 0%;
  left:12.3em;
  bottom: 2.2em;
  background:linear-gradient( #ffab23,#ffec64);
}

/*----------------------------------------------------------*/

.bloque2{
  top: 25%;
  left: 49%;
  font-size: 16px;
  position: absolute;
  z-index: 10;
}

.cajitaprin{
  top: 25%; left: 50%;
  animation: movcentro 1s infinite;
  position: absolute;
}
@keyframes movcentro{
  0%{transform: scale(0.6);}
  50%{transform: scale(0.6);}
  100%{transform: scale(0.6);}
}

.pilar1{
  width: 100px; height: 250px;
  border: 2px solid #000;
  border-top: 50px solid #000;
  border-right: 20px solid #000;
  background: linear-gradient(#ffec64, #ffab23);
  bottom: -3px; left: -3px;
  position: absolute;
}
.pilar2{
  width: 100px; height: 250px;
  border: 2px solid #000;
  border-top: 50px solid #000;
  border-left: 20px solid #000;
  background: linear-gradient(#ffec64, #ffab23);
  bottom: -3px; right: 0px;
  position: absolute;
}
.torcentral{
  width: 400px; height: 600px;
  border: 2px solid #000;
  background: linear-gradient(#ffec64, #ffab23);
  top: 25%; left: 45%;
}
.bas1{
  width: 500px; height: 50px;
  bottom: -57px; left: -50px;
  background: linear-gradient(#ffec64, #ffab23);
  border: 2px solid #000;
  position: absolute;
}
.bas2{
  width: 600px; height: 50px;
  bottom: -112px; left: -95px;
  background: linear-gradient(#ffec64, #ffab23);
  border: 2px solid #000;
  position: absolute;
}
.bas3{
  width: 700px; height: 50px;
  bottom: -167px; left: -140px;
  background: linear-gradient(#ffec64, #ffab23);
  border: 2px solid #000;
  position: absolute;
}
.bas4{
  width: 800px; height: 50px;
  bottom: -224px; left: -185px;
  background: linear-gradient(#ffec64, #ffab23);
  border: 2px solid #000;
  position: absolute;
}
.corcen1{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 145px;
  height: 110px;
  border: 0.3em solid black;
  border-right: 0;
  transform: skewX(15deg);
  left: -17px;
  top: -120px;
  background:linear-gradient(#ffec64, #ffab23);
}
.corcen2{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 145px;
  height: 110px;
  border: 0.3em solid black;
  border-left: 0;
  transform: skewX(-15deg);
  top: -120px; left: 100px;
  background:linear-gradient(#ffec64, #ffab23);
}
.corcen3{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 145px;
  height: 110px;
  border: 0.3em solid black;
  border-left: 0;
  border-right: 0;
  transform: skewX(-15deg);
  top: -120px; left: 150px;
  background:linear-gradient(#ffec64, #ffab23);
}
.corcen4{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 145px;
  height: 110px;
  border: 0.3em solid black;
  border-left: 0;
  transform: skewX(-15deg);
  top: -120px; left: 272px;
  background:linear-gradient(#ffec64, #ffab23);
}
.superior{
  width: 473px; height: 80px;
  top: -202px; left: -37px;
  background: linear-gradient(#ffec64, #ffab23);
  border: 2px solid #000;
  position: absolute;
}
.pesta1{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 50px;
  height: 55px;
  border: 0.3em solid black;
  border-radius: 0%;
  left: -38px;
  border-bottom: 0;
  top: -260px;
  background:linear-gradient( #ffab23,#ffec64);
}
.pesta2{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 50px;
  height: 55px;
  border: 0.3em solid black;
  border-radius: 0%;
  left: 108px;
  border-bottom: 0;
  top: -260px;
  background:linear-gradient( #ffab23,#ffec64);
}
.pesta3{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 50px;
  height: 55px;
  border: 0.3em solid black;
  border-radius: 0%;
  left: 258px;
  border-bottom: 0;
  top: -260px;
  background:linear-gradient( #ffab23,#ffec64);
}
.pesta4{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 50px;
  height: 55px;
  border: 0.3em solid black;
  border-radius: 0%;
  left: 385px;
  border-bottom: 0;
  top: -260px;
  background:linear-gradient( #ffab23,#ffec64);
}

/*------------------------------------------------------------*/

.bloque3{
  top: 13%;
  left: 16%;
  font-size: 16px;
  position: absolute;
}

.bloqueb {
  color: rgb(255, 251, 15);
  position: absolute;
  width: 22em;
  height: 5em;
  border: 0.3em solid black;
  border-radius: 0%;
  left: 2200px;
  top: 700px;
  background:linear-gradient(#ffec64, #ffab23);
}
.bloquep{
  color: rgb(255, 251, 15);
  position: absolute;
  width: 12em;
  height: 4.9em;
  border: 0.3em solid black;
  border-radius: 0%;
  left: 2055px;
  top: 700px;
  background:linear-gradient(#ffec64, #ffab23);
}